{{extend 'layout.html'}}

{{block head}}

    
    <link rel="stylesheet" href="{{=URL('static', 'js/leaflet/leaflet.css')}}"/>
    <script src="{{=URL('static', 'js/vue.js')}}"></script>
    <script src="{{=URL('static', 'js/leaflet/leaflet.js')}}"></script>
    <script src="{{=URL('static', 'js/default_index.js')}}"></script>
<script>
    var get_user_url ="{{=URL('api', 'get_user')}}";
    var is_logged_in = {{='false' if auth.user is None else 'true'}};
    
    var edit_post_url = "{{=URL('api', 'edit_post', user_signature=True)}}";
    var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
    var get_post_list_url = "{{=URL('api', 'get_post_list')}}";
    var get_user_post_list_url = "{{=URL('api', 'get_user_post_list')}}";
    var delete_post_url = "{{=URL('api', 'delete_post')}}";
    var make_public_url = "{{=URL('api','make_public')}}";
    var make_private_url = "{{=URL('api','make_private')}}";
    // Like callbacks.
    var set_like_url = "{{=URL('api', 'set_like', user_signature=True)}}";
    var get_likers_url = "{{=URL('api', 'get_likers')}}"
    // Dislike callbacks.
    var set_dislike_url = "{{=URL('api', 'set_dislike', user_signature=True)}}";
    var get_dislikers_url = "{{=URL('api', 'get_dislikers')}}";
</script>
{{end}}

<div class="main_content">
    <div class="body container">
        <div id="mapid" class="mapid leftcorners twothirds"></div>
        <div class="path_info third">
            <p id="length"></p>
            <p id="time"></p>
            <p id="format"></p>
            <p id="path"></p>
        </div>
        <script type="text/javascript" src="{{=URL('static', 'js/draw.js')}}"></script>
        <div id="vue-div" class="container">
            <div id="add_post" class="add_post_cont container" v-if="is_logged_in">
                <div v-if="!show_form" class="add_post_button twothirds">
                    <button class="fa fa-plus-circle button green" id="show-form" v-on:click="show_form = !show_form"> Add Post</button>
                    <button class="fa fa-eraser button blue" id="clear-map" v-on:click="clearMap()"> Clear Map</button>
                </div>
                <div class="add_post_form container twothirds" v-if="show_form">
                    <div class="container form_row">
                        <div class="threequarters">
                            <div class="submit">
                                <button class="fa fa-ban button red" id="cancel-post" v-on:click="cancel_post"> Cancel</button>
                                <button class="fa fa-eraser button blue" id="clear-map" v-on:click="fullClearMap()"> Clear Map</button>
                                <button class="fa fa-plus-circle button green" id="add-post" v-on:click="add_post"> Submit</button>
                            </div>
                        </div>
                    </div>
                    <div class="container form_row">
                        <div class="label quarter">
                            Title:
                        </div>
                        <div class="form threequarters">
                            <input v-model="form_title" placeholder="Enter the post title"/>
                        </div>
                        <span class="label quarter">
                            Path:
                            <span class="not_uploaded" v-if="!uploaded">
                                <input id="json_format" style="display:none" v-model="form_path">
                            </span>
                        </span>
                        <span v-if="!options" class="form threequarters">
                            <button class="fa fa-map-marker button gray" id="track_button" v-on:click="change_to_track"> Track my Path</button>
                            <button class="fa fa-pencil button gray" id="draw_button" v-on:click="change_to_draw"> Draw a Path</button>
                            <button class="fa fa-upload button gray" id="file_button" v-on:click="change_to_upload"> Upload a Path JSON</button>
                        </span>
                        <span v-if="upload" class="form threequarters">
                            <input class="button" type="file" id="upload_file"/>
                            <button class="fa fa-ban button red" v-on:click="cancel_options"> Cancel</button>
                            <span class="not_uploaded" v-if="!uploaded">
                                <button class="fa fa-eye button blue" id="preview_file" v-on:click="preview_path"> Preview</button>
                                <button class="fa fa-check-circle button green" id="parse_file" v-on:click="upload_json"> Upload</button>
                                <button class="fa fa-question button gray" id="what_format" v-on:click="show_format"> Format</button>
                            </span>
                            <span class="uploaded" v-if="uploaded">
                                Path File Uploaded
                            </span>
                        </span>
                        <span v-if="track" class="form threequarters">
                            <button class="fa fa-ban button red" v-on:click="cancel_options"> Cancel</button>
                            <span class="not_tracked" v-if="!tracked">
                                <span v-if="!tracking">
                                    <button class="fa fa-map-marker button green" v-on:click="track_start"> Start Tracking</button>
                                </span>
                                <span v-if="tracking">
                                    <span v-if="track_paused">
                                        <button class="fa fa-play-circle button pink" v-on:click="track_start"> Resume Tracking</button>
                                    </span>
                                    <span v-if="!track_paused">
                                        <button class="fa fa-pause-circle button blue" v-on:click="track_pause"> Pause Tracking</button>
                                    </span>
                                    <button class="fa fa-check-circle button green" id="finish-tracking" v-on:click="finish_tracking"> Finish Tracking</button>
                                </span>
                            </span>
                            <span v-if="tracked">
                                Path Tracked
                            </span>
                        </span>
                        <span v-if="draw" class="form threequarters">
                            <button class="fa fa-ban button red" v-on:click="cancel_options"> Cancel</button>
                            <span class="not_drawn" v-if="!drawn">
                                <button class="fa fa-plus button blue" id="add_point" v-on:click="add_point()"> Add Point</button>
                                <button class="fa fa-minus button pink" id="remove_point" v-on:click="remove_point()"> Remove Last Point</button>
                                <button class="fa fa-check-circle button green" id="submit-drawn" v-on:click="submit_drawn"> Drawn</button>
                            </span>
                            <span class="drawn" v-if="drawn">
                                Path Drawn
                            </span>
                        </span>
                    </div>
                    <div class="container privacy_row">
                        <div class="label quarter">
                            Privacy Setting:
                        </div>
                        <span class="threequarters" name="privacy">
                            <select v-model="privacy_setting">
                                <option value="False">Public</option>
                                <option value="True">Private</option>
                            </select>
                        </span>
                    </div>
                </div>
            </div>
            <div class="no_add_post twothirds" v-if="!is_logged_in">
                Please Log in to add post and rate posts
            </div>
            <!-- We display the posts. -->
            <div id="post_list" class="posts container corners" v-if="!user_posts">
                <span class="third" name="posts-type">
                    Posts:
                    <select v-model="posts_type" v-on:change="change_posts">
                        <option value="all">Public Posts</option>
                        <span v-if="is_logged_in">
                            <option value="mine">My Posts</option>
                        </span>
                    </select>
                </span>
            
                <!-- Message in case there are no posts. -->
                <div class="no_posts" v-if="post_list.length === 0">There are no posts.</div>
                <div class="container">
                    <div class="post_div half corners" v-for="post in post_list">
                        <div class="post_box">
                            <div class="post_title" v-if="!post._editpost">
                                ${post.post_title} by ${post.post_user}
                            </div>
                            <span v-if="post._editpost">
                                <textarea v-model="post.post_title"></textarea>
                            </span>
                            <div class="attributes">
                                <!-- Code for likes. -->
                                <span class="likers">
                                    <span class="show_likers">
                                        <span v-if="is_logged_in" class="toggle_like"
                                            v-on:mouseover="like_mouseover(post._idx)"
                                            v-on:mouseout="like_mouseout(post._idx)"
                                            v-on:click="like_click(post._idx)">
                                            <i v-if="post._like" class="fa fa-thumbs-up" v-bind:class="{changed: post._like === !post.like}"></i>
                                            <i v-if="!post._like" class="fa fa-thumbs-o-up" v-bind:class="{changed: post._like === !post.like}"></i>
                                        </span>
                                        <span v-if="post._show_likers" class="likers_list">
                                            <span v-for="liker in post._likers" class="liker">${liker}</span>
                                            <span v-if="post._likers.length > 0">liked it.</span>
                                        </span>
                                    </span>
                                </span>
                                
                                <span class="points">
                                    <span class="toggle_points">
                                        <span v-if="!is_logged_in">Rating: </span>
                                        ${get_count(post._idx)}
                                    </span>
                                </span>
                                <!-- Code for dislikes. -->
                                <span class="dislikers">
                                    <span class="show_dislikers">
                                        <span v-if="is_logged_in" class="toggle_dislike"
                                            v-on:mouseover="dislike_mouseover(post._idx)"
                                            v-on:mouseout="dislike_mouseout(post._idx); get_count(post._idx)"
                                            v-on:click="dislike_click(post._idx);">
                                            <i v-if="post._dislike" class="fa fa-thumbs-down" v-bind:class="{changed: post._dislike === !post.dislike}"></i>
                                            <i v-if="!post._dislike" class="fa fa-thumbs-o-down" v-bind:class="{changed: post._dislike === !post.dislike}"></i>
                                        </span>
                                    </span>
                                    <span v-if="post._show_dislikers" class="dislikers_list">
                                        <span v-for="disliker in post._dislikers" class="disliker">${disliker}</span>
                                        <span v-if="post._dislikers.length > 0">disliked it.</span>
                                    </span>
                                </span>
                                <span class="show_path">
                                    <button class="fa fa-eye button blue" id="show-path" v-on:click="show_path(post._idx)"> Show Path</button>
                                    <!---
                                    <button class="btn"><i class="fa fa-download" v-on:click="download_path(post._idx)"></i> Download</button>
                                    -->
                                </span>
                                
                                <span v-if="is_logged_in" class="edit">
                                    <span v-if="user == post.post_user">
                                        <span v-if="!post._editpost">
                                            <span class="edit_button">
                                                <button class="fa fa-user-secret button gray" id="make-public" v-on:click="make_private(post._idx)"> Make Private</button>
                                                <button class="fa fa-pencil-square-o button egreen" id="edit-post" v-on:click="edit_post(post._idx)"> Edit</button>
                                            </span>
                                        </span>
                                        <span v-if="post._editpost">
                                            <span class="edit_button-post">
                                                <button class="fa fa-user-secret button gray" id="make-public" v-on:click="make_private(post._idx)"> Make Private</button>
                                                <button class="fa fa-pencil-square-o button egreen" id="edit-post-post" v-on:click="edit_post_post(post._idx)"> Edit</button>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                                <!---
                                 <span v-if="is_logged_in" class="delete">
                                    <span v-if="user == post.post_user || user == 'admin'">
                                        <span class="edit_button">
                                            <button id="edit-post" v-on:click="delete_post(post._idx)">Delete</button>
                                        </span>
                                    </span>
                                </span>
                                -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="post_list" class="posts container corners" v-if="user_posts">
                <span class="third" name="posts-type">
                    Posts:
                    <select v-model="posts_type" v-on:change="change_posts">
                        <option value="all">Public Posts</option>
                        <span v-if="is_logged_in">
                            <option value="mine">My Posts</option>
                        </span>
                    </select>
                </span>
                <!-- Message in case there are no posts. -->
                <div class="no_posts" v-if="post_list.length === 0">There are no posts.</div>
                <div class="container">
                    <div class="post_div half corners" v-for="post in post_list">
                        <div class="post_box">
                            <div class="post_title" v-if="!post._editpost">
                                ${post.post_title} by ${post.post_user}
                            </div>
                            <span v-if="post._editpost">
                                <textarea v-model="post.post_title"></textarea>
                            </span>
                            <div class="attributes">
                                <span class="show_path">
                                    <button class="fa fa-eye button blue" id="show-path" v-on:click="show_path(post._idx)"> Show Path</button>
                                    <!---
                                    <button class="btn"><i class="fa fa-download" v-on:click="download_path(post._idx)"></i> Download</button>
                                    -->
                                </span>
                                
                                <span v-if="is_logged_in" class="edit">
                                    <span v-if="user == post.post_user">
                                        <span v-if="post.post_privacy">
                                            <button class="fa fa-users button green" id="make-public" v-on:click="make_public(post._idx)"> Make Public</button>
                                        </span>
                                        <span v-if="!post.post_privacy">
                                            <button class="fa fa-user-secret button gray" id="make-private" v-on:click="make_private(post._idx)"> Make Private</button>
                                        </span>
                                        <span v-if="!post._editpost">
                                            <span class="edit_button">
                                                <button class="fa fa-pencil-square-o button egreen" id="edit-post" v-on:click="edit_post(post._idx)"> Edit</button>
                                            </span>
                                        </span>
                                        <span v-if="post._editpost">
                                            <span class="edit_button-post">
                                                <button class="fa fa-pencil-square-o button egreen" id="edit-post-post" v-on:click="edit_post_post(post._idx)"> Edit</button>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                                 <span v-if="is_logged_in" class="delete">
                                    <span v-if="user == post.post_user">
                                        <span class="edit_button">
                                            <button class="fa fa-trash-o button red" id="edit-post" v-on:click="delete_post(post._idx)"> Delete</button>
                                        </span>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
