<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=480,height=480, initial-scale=.4 user-scalable=yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <link href="{{=URL('static','css/stupid.css')}}" rel="stylesheet" type="text/css"/>
        <link href="{{=URL('static','css/custom.css')}}" rel="stylesheet" type="text/css"/>
        <link href="{{=URL('static','css/calendar.css')}}" rel="stylesheet" type="text/css"/>
        <link href="{{=URL('static','css/web2py.css')}}" rel="stylesheet" type="text/css"/>
        <link href="{{=URL('static','css/myapp.css')}}" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="{{=URL('static', 'font-awesome-4.6.3/css/font-awesome.min.css')}}">
        {{include "web2py_ajax.html"}}
        {{block head}}{{end}}
    </head>
    <body class="backgroundgray">
        <header class=" gray padded">
            <div class="container middle max900">
                <div class="fill middle dropdown">
                    <ul class="menu right">
                        <li>
                            {{=auth.navbar(mode='dropdown')}}
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <main class="main_content">
            {{include}}
        </main>
    </body>
    <script src="{{=URL('static','js/marked.min.js')}}"></script>
    <script src="{{=URL('static','js/vue.min.js')}}"></script>
    <script>
        jQuery('.social a').each(function(){var t=jQuery(this); t.attr('href',t.attr('href').replace('{url}',encodeURIComponent(window.location.href)));});
    </script>
</html>
