/* line 1, ../sass/_main.scss */
div.main_content {
  background-color: #F0F0F0;
  padding: 15px;
}
/* line 4, ../sass/_main.scss */
div.main_content i.changed {
  color: #777777;
}
/* line 7, ../sass/_main.scss */
div.main_content span.likers_list {
  color: #7777cc;
}

/* line 12, ../sass/_main.scss */
input[type=file] {
  border: none;
  color: white;
}

/* line 16, ../sass/_main.scss */
div.leftcorners {
  border-top-left-radius: 19px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px black solid;
}

/* line 23, ../sass/_main.scss */
div.corners {
  border-radius: 10px;
  border: 1px black solid;
}

/* line 28, ../sass/_main.scss */
div.rightcorners {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 1px black solid;
}

/* line 34, ../sass/_main.scss */
div.mapid {
  height: 35%;
}

/* line 38, ../sass/_main.scss */
div.form_row {
  margin-top: 15px;
  margin-bottom: 5px;
}

/* line 43, ../sass/_main.scss */
div.post_div {
  background-color: #DDDDDD;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  width: 47%;
  max-width: 80%;
}

/* line 53, ../sass/_main.scss */
div.post_title {
  padding: 5px;
  font-size: 120%;
}

/* line 58, ../sass/_main.scss */
div.posts {
  padding: 15px;
  margin-top: 15px;
}

/* line 63, ../sass/_main.scss */
div.post_title {
  text-align: center;
}

/* line 66, ../sass/_main.scss */
div.show_path {
  margin: 5px;
}

/* line 70, ../sass/_main.scss */
div.body {
  width: 55%;
  margin: auto;
}

/* line 75, ../sass/_main.scss */
div.attributes {
  margin: 5px;
}

/* line 79, ../sass/_main.scss */
div.add_post_button {
  margin-top: 5px;
}

/* line 83, ../sass/_main.scss */
div.add_post_cont {
  margin-top: 15px;
}

/* line 87, ../sass/_main.scss */
div.no_add_post {
  margin-top: 15px;
  text-align: center;
}

/* line 92, ../sass/_main.scss */
div.path_info {
  width: 30%;
  margin-top: 15px;
  margin-left: 15px;
}

/* line 98, ../sass/_main.scss */
#length {
  text-align: center;
}

/* line 102, ../sass/_main.scss */
#time {
  text-align: center;
}

/* line 106, ../sass/_main.scss */
div.no_posts {
  padding-top: 15px;
  text-align: center;
}

/* line 111, ../sass/_main.scss */
div.post_box {
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 5px;
}

/* line 118, ../sass/_main.scss */
.button {
  text-shadow: 1px 1px 2px #000000;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
}

/* line 129, ../sass/_main.scss */
.yellow {
  background-color: #E6FF00;
}

/* line 133, ../sass/_main.scss */
.red {
  background-color: #FF3C28;
}

/* line 137, ../sass/_main.scss */
.pink {
  background-color: #FF3278;
}

/* line 141, ../sass/_main.scss */
.blue {
  background-color: #0AB9E6;
}

/* line 145, ../sass/_main.scss */
.green {
  background-color: #0EEC00;
}

/* line 149, ../sass/_main.scss */
.gray {
  background-color: #828282;
}

/* line 153, ../sass/_main.scss */
.egreen {
  backgroud-color: #5FA777;
}

/* line 157, ../sass/_main.scss */
.backgroundgray {
  background-color: #F0F0F0;
}
