div.main_content {
    background-color: #F0F0F0;
    padding: 15px;
    i.changed {
    color: $clrUnconfirmed;
    }
    span.likers_list {
    color: $clrLikerList;
    }
}

input[type=file] {
    border: none;
    color: white;
}
div.leftcorners{
    border-top-left-radius: 19px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px black solid;
}

div.corners{
    border-radius: 10px;
    border: 1px black solid;
}

div.rightcorners{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px black solid;
}
div.mapid {
    height: 35% ;
}

div.form_row {
    margin-top: 15px;
    margin-bottom: 5px;
}

div.post_div {
    background-color: #DDDDDD;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    width: 47%;
    max-width: 80%;
}

div.post_title {
    padding:5px;
    font-size: 120%;
}

div.posts{
    padding:15px;
    margin-top: 15px;
}

div.post_title{
    text-align:center;
}
div.show_path{
    margin: 5px;
}

div.body{
    width: 55%;
    margin: auto;
}

div.attributes{
    margin:5px;
}

div.add_post_button{
    margin-top: 5px;
}

div.add_post_cont{
    margin-top:15px;
}

div.no_add_post{
    margin-top:15px;
    text-align:center;
}

div.path_info{
    width:30%;
    margin-top:15px;
    margin-left:15px;
}

#length{
    text-align:center;
}

#time{
    text-align:center;
}

div.no_posts{
    padding-top: 15px;
    text-align:center;
}

div.post_box{
    margin-top:5px;
    margin-left:15px;
    margin-right:15px;
    margin-bottom:5px;
}

.button {
    text-shadow: 1px 1px 2px #000000;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
}

.yellow{
    background-color: #E6FF00;
}

.red{
    background-color: #FF3C28;
}

.pink{
    background-color: #FF3278;
}

.blue{
    background-color: #0AB9E6;
}

.green{
    background-color: #0EEC00;
}

.gray{
    background-color: #828282;
}

.egreen{
    backgroud-color: #5FA777;
}

.backgroundgray{
    background-color: #F0F0F0;
}
